.footerDed{
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 99999;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #2A2A2A;
  background: black;
  margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  z-index: 0;

}
.btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  text-align: center;
  z-index: 1;
  border: 1px solid rgba(0,0,0,.8);
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s;
  display: none;

}
.btn:hover {
  background-color: rgba(0,0,0,.8);
  color: #fff;
}
